@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0; /*Padding is used to create space around an element's content, inside of any defined borders.*/
  margin: 0; 
  box-sizing: border-box; /*padding and border are included in the width and height*/
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;  /*decoration added to text*/
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
/*It is a type of animation FadeIn when we reload the page then the animation will apply or when we came into page*/
@keyframes FadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}